img {display: block; margin: auto;}
p {margin: 0;}
table {border: 0; width: 100%;}
.left {clear: left; float: left; margin-bottom: 1em; margin-right: 1em;}
.margin-normal {margin-bottom: 1em;}
.margin-small {margin-bottom: 2em;}
.margin-medium {margin-bottom: 4em;}
.margin-large {margin-bottom: 8em;}
.right {clear: right; float: right; margin-bottom: 1em; margin-left: 1em;}
