img {display: block; margin: auto;}
p nav img {margin: 0 0 2em;}
table {border: 0; width: 100%;}
.left {clear: left; float: left; margin-bottom: 1em; margin-right: 1em;}
.margin-small {margin-bottom: 1em;}
.margin-medium {margin-bottom: 4em;}
.margin-large {margin-bottom: 8em;}
.no-margin {margin-bottom: 0;}
.right {clear: right; float: right; margin-bottom: 1em; margin-left: 1em;}
